body{
	background: url("../images/background.png");
	background-size: 100%;
    background-repeat: no-repeat;
}
.jumbotron {
    background-color: inherit;
}
.jumbotron .h1, .jumbotron h1 {
    text-align: center;
}